datacube
datashader
deafrica-tools
gdal==3.10.0
geopandas
jupyter
matplotlib
numpy>=1.7,<2
odc-dscache
odc-geo
odc-stac
pandas
planetary-computer
pybind11>=2.9.1,<3
rasterio
git+https://github.com/jessjaco/richdem.git@import-fix#subdirectory=wrappers/pyrichdem
rioxarray
scikit-learn
scipy
shapely
tqdm
xarray

